---
layout: default
---

import Layout from "../layouts/Layout.astro";
import Counter from "../components/Counter.astro";

---
<Layout title="Mi primera página">
  <p style="margin:.75rem 1rem;">Primer Componente</p>
  <h1 style="margin:0 1rem 1rem 1rem;">Mi primera pagina</h1>
  <Counter start={7} />
</Layout>
